.jumbotron {
    background-image: url("../images/bacteria_jumbotron.png");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding-bottom: 20px;
    font-family: verdana;

}
body {
    background-color: white;
    padding-top: 70px;
    
}

#main {
    background-color: rgba(255, 255, 255, 0.411);
}

hr {
    background-color: black;
    color:black;
    border-top: 1px solid black;
    margin-top: 80px;
}

.anchor {
    margin-bottom: 80px;
}

.icon-bar {
    background-color: black;
}

#demstyle {
    font-family: verdana;
    font-size: medium;
    font-weight: bold;
}

h3.panel-title {
    font-family: verdana;
    font-size: medium !important;
    font-weight: bold;
}

h6 {
    font-family: verdana;
    font-size: medium !important;
}

h5 {
    font-family: verdana;
    font-size: medium;
    font-weight: bold;
}

.para {
    background-color: white;
    font-family: verdana;
    font-size: large;
    padding: 20px 10px;
}

#descdiv {
    padding-top: 7px;
    background-color: white;
}

#descdiv h3 {
    padding-left: 10px;
}

nav {
    background-color: white;
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #4244d5, #1d9d3d, #1823b3, #de463e);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
}

#bar, #gauge, #bubble {
    margin-bottom: 20px;
}


/* @media all and (min-width: 700px) {
    #descdiv {
        min-height: 383px;
    }
} */